body {
	background-color: #181818 !important;
	color: #ddd7d7 !important;
	direction: rtl;
}

.answer {
	background-color: white !important;
	padding: 10px;
	margin: 10px;
	border: rgb(177, 177, 11) solid 3px;
}